.bg-custom{
    margin: 0;
    background-color: #f0f2f5;
    
}

.content{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding:20px;
    text-align: center;   
    margin-top: 5%;
}
.login{
    display: block;
    background-color: #ffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: 432px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
   
    margin-bottom: auto;
}


.test{

    justify-self: center;
    align-self: center;
    margin-left: auto;
  

}
.text2{
    display: flex;
}



.imagine{
    align-self: center;
    justify-self: center;
   
    
    
}
.logo-fb img{
    display:flex;
    margin-left: -70px;
  
    
}



.login input{
    margin: 0 auto 10px;
    border-radius: 5%;
    width: 400px;
    height: 50px;
    
}

.login form{
    margin: 0;
    padding: 0;
}
#btn-create{
    background-color: #36a420;
    height: 55px;
    width: 200px;
}
#btn-login{
    color: white;
    cursor: pointer;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
}

.login input:focus{
    box-shadow: none;
    border-color:#1877f2;
    
}

.login hr{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.logare{
    display: flex;
    flex-direction: column;
}
.content img{
   
    height: 80px;
    width: 310px;
}


    
    @media (max-width  :868px )
{
   .content
    {
        
        flex-direction:column;
    }
    .logo-fb img{
        margin: 0;
    }
    .test{
        margin:0;
    }
    .text2{
        display: block;

    }


}
.user{
    display: flex;
    flex-direction: row;
    
}

.modal-header h1{
    display: flex;
}
.modal-header p{
    display: flex;
}



.modal-body input{
    margin-top: 10px;
}
.modal-dialog{
    width: 540px;
}


@media (max-width  : 767px)
    {
       

}